<html>

<head>
  <title>Gadget Galore</title>
  <link href="/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
  <link href="/css/fa/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type"text/css">
  <link href="/css/media.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="subheader">
        <div class="container">
          <p>Bringing The Very Best To Your Life</p>
          <a href="#">Help</a><a href="./views/index.ejs">Home</a>
        </div>
      </div>
       <!--==main header==-->
       <div id="main-header">
         <!--==logo==-->
         <div id="logo">
           <span id="ist">Gadget</span><span id="iist">Galore</span>
         </div>
         <!--==search area==-->
         <div id="search">
           <form action="">
             <input class="search-area" type="text" name="text" placeholder="Search here">
             <input class="search-btn" type="submit" name="search" value="Search">
           </form>
          </div>
          <!--==user-menu==-->
          <div id="user-menu">
            <li><a href="/cart">Cart</a></li>
          </div>
       </div>
    </div>
    <!--==navigation bar==-->
    <div id="navigation">
      <a href="#" class="menu-togglr"><i class="fa fa-bars"></i> </a>
      <nav id="mainav">
        <a href="/products">Mobile</a>
        <a href="/products">Laptop/Computer</a>
        <a href="/products">Gamming</a>
      </nav>
    </div>

<!----==Products section==---->

    <div id= "heading-block">
    <h3>Items On Cart</h3>
    </div>
    <div class="prod-cc">

      <!--- fist product--->

      <div class="prod-lst">
          <img src="images/airpods1.jpg" alt="Airpods"  >

        <div id="detailsofitems">
          <h5 >
            Item Name: Airpods
          </h5>
          <h5 >
            Item Price: 900sr
          </h5>

          <h6 >
            Description: Airpods of iPhone.
          </h5>

        </div>


        <div class="prod-trans2">
          <div class= "prod-feature2">

            <h4>Remove Quantity: </h4>
            <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
              </select>
              <br />
              <br />
              <input  class="button2"  type="button" value ="Remove " />
          </div>

        </div>

      </div>


      <!-- Second Product -->

      <div class="prod-lst">
          <img src="images/case.jpg" alt="case"  >

        <div id="detailsofitems">
          <h5 >
            Item Name: case
          </h5>
          <h5 >
            Item Price: 150sr
          </h5>

          <h6 >
            Description: Case for iPhone 6s
          </h5>

        </div>


        <div class="prod-trans2">
          <div class= "prod-feature2">

            <h4>Remove Quantity: </h4>
            <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
              </select>
              <br />
              <br />
              <input  class="button2"  type="button" value ="Remove " />
          </div>

        </div>

      </div>

      <!-- third Product -->

      <div class="prod-lst">
          <img src="images/Wireless.jpg" alt="Wireless"  >

        <div id="detailsofitems">
          <h5 >
            Item Name: Wireless Charger
          </h5>
          <h5 >
            Item Price: 1500sr
          </h5>
          <h6 >
            Description: Wireless charger for Samsung phones.
          </h5>

        </div>


        <div class="prod-trans2">
          <div class= "prod-feature2">

            <h4>Remove Quantity: </h4>
            <select>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
              </select>
              <br />
              <br />
              <input class="button2" type="button" value ="Remove " />
          </div>

        </div>

      </div>
      <br>

<!--CheckOut place-->

<div id= "heading-block">
<h3>Checking Out</h3>
</div>
<div id="prod-co">
    <div>
      <H3>Total: 2550 Riyals</H3>
    </div>
    <div class="check">
    <button class="button" type="button"><a href="confirmation"><span>Checkout</span></button></a>
   <button class="button" type="button"><a href="">Cancel</button></a>

    </div>

    </div>



<!------------------------>
  <div id="footer">
    <div class="container">
      <div class="footer_sub_1">
        <h2>About Us</h2>
        <p>We are a startup company of an e-commerce, whose one sole purpose
          is to bring the best deals and deliver authentic products to all our
          customers around the world.
        </p>
      </div>
      <div class="footer_sub_2">
        <center>
          <h2>Follow us on</h2>
          <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
        </center>
      </div>
      <div class="footer_sub_3">
        <h2>Please leave your feedback</h2>
          <form>
            <textarea class="sub" name="feedback" placeholder="Type here"></textarea>
            <br/>
            <input class="button" type="submit" value="Submit"/>
          </form>
          <p><a href="mailto:wajid0194696@gmail.com">Click here to mail us<a/></p>
      </div>
    </div>
  </div>

  <script
			  src="http://code.jquery.com/jquery-2.2.4.js"
			  integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
			  crossorigin="anonymous">
  </script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="js/my.js"></script>
</body>

</html>
