<html>

<head>
  <title>Gadget Galore</title>
  <link href="/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
  <link href="/css/fa/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="subheader">
        <div class="container">
          <p>Bringing The Very Best To Your Life</p>
          <a href="/help">Help</a><a href="/index">Home</a>
        </div>
      </div>
       <!--==main header==-->
       <div id="main-header">
         <!--==logo==-->
         <div id="logo">
           <span id="ist">Gadget</span><span id="iist">Galore</span>
         </div>
            <div id="navigation">
      <a href="#" class="menu-togglr"><i class="fa fa-bars"></i> </a>
      <nav id="mainav">
        <a href="/products/category/mobile">Mobile</a>
        <a href="/products/category/pc">Laptop/Computer</a>
        <a href="/products/category/gaming">Gaming</a>
      </nav>
    </div>
          <!--==user-menu==-->
          <div id="" align="right">
            <br>
            <a href="/cart"><button style="font-size:24px" class="button2">Shopping Cart</i></button></a>
            
          </div>
       </div>
    </div>
<!----==Products section==---->

    <div id= "heading-block">
    <h3>Items On Cart</h3>
    </div>
    <div class="prod-cc" id="cart-content">
      
      <!--- cart products list --->
    
    </div>
    </div>
      <br>

<!--CheckOut place-->

<div id= "heading-block">
<h3>Checking Out</h3>
</div>
<div id="prod-co">
    <div width="100px" >
      
      <H3 id="price"></H3>
    </div>
    <div class="check">
    <a href="#"  id="chkout"><button class="button" type="button"><span>Checkout</span></button></a>
   <a href="/index"><button class="button" type="button">Remove All</button></a>
     
    </div>
    
 <div align="right" marign-top="0px" ><img src="https://media.giphy.com/media/nKERd2uhn8hhe/giphy.gif" style="width:150px;height:150px;"></div>

    </div>
    
    
      <script src="/lib/jquery/dist/jquery.min.js"></script>
      <link href="/css/style.css" rel="stylesheet">
      <link href="/css/media.css" rel="stylesheet">


<script>
      
      if(sessionStorage.getItem('CartData') && (JSON.parse(sessionStorage.getItem('CartData'))).length > 0 ){
        var a = document.getElementById('chkout');
        a.href = "/confirmation";
       }
       
      var CartFinal = [];
      
       var sumPrice = 0;
       //console.log(CartFinal.length);
       function changeQuantity(index){
         
         CartFinal[index].quantity = document.getElementById("quantitySelect"+index).value;
         
         document.getElementById("quantityDisplay"+index).innerHTML = "Quantity:"+CartFinal[index].quantity ;
         
         sessionStorage.setItem('CartData', JSON.stringify(CartFinal));
         sumTotalPrice();
          //console.log(index);
       }
       
       
       function removeCartProduct(index){
         CartFinal.splice(index,1);
         //console.log(CartFinal);
        sessionStorage.setItem('CartData', JSON.stringify(CartFinal));
         window.location = "/cart";
       }
       
       function sumTotalPrice(){
          sumPrice=0;
          for(var i=0; i<CartFinal.length; i++){
            sumPrice = sumPrice+(CartFinal[i].price*CartFinal[i].quantity);
          }
         document.getElementById("price").innerHTML = 'Total Price: '+sumPrice;
       }
       
       $( document ).ready(function() {

        CartFinal = JSON.parse(sessionStorage.getItem('CartData'));
        console.log(CartFinal);
        for(var i=0; i<CartFinal.length; i++){
  
          var image ="<img src="+CartFinal[i].imageURL+" alt='Airpods'>";
          var details ="<h5>Item Name: "+CartFinal[i].name+"</h5><h5>Item Price: "+CartFinal[i].price+"</h5><h5 id='quantityDisplay"+i+"'>Quantity: "+CartFinal[i].quantity+"</h5><h6 >Description: "+CartFinal[i].description+"</h5>";
         
          var functionality="<div class='prod-trans2'><div class='prod-feature2'><h4>Remove Quantity:</h4><select id='quantitySelect"+i+"' onchange='changeQuantity("+i+")'>"+
            "<option value='1'>1</option>"+
            "<option value='2'>2</option>"+
            "<option value='3'>3</option>"+
            "<option value='4'>4</option>"+
            "<option value='5'>5</option>"+
            "</select>"+
            "<br />"+
              "<br />"+
              "<input class='button2'  type='button' onclick='removeCartProduct("+i+")' value ='Remove' /></div></div>"
          var productList= "<div class='prod-lst'>"+image+"&emsp; &emsp; &emsp; <div id='detailsofitems'>"+details+"</div>"+functionality+"</div>";
          //$( ".prod-cc" ).append(productList);
            if(i==1){
              document.getElementById("cart-content").innerHTML = productList;
            }else{
              var newelement = document.getElementById("cart-content");
              newelement.insertAdjacentHTML('afterend', productList);
            }
           console.log(CartFinal[i].price);
           sumPrice = sumPrice+(CartFinal[i].price*CartFinal[i].quantity);
        
          
            }
      
        console.log(sumPrice);
       
        document.getElementById("price").innerHTML = 'Total Price: '+sumPrice;
       });
       
       

    </script> 


<!--sticky-->
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="./images/qq.png" width="32" height="32">
            <p padding-right="20px"><img src="./images/sale.jpg" width="150" height="150"></p>
        </li>
        <li>
            <img src="./images/qqp.png" width="32" height="32">
             <p padding-right="20px"><img src="./images/aawww.gif" width="150" height="150"></p>
        </li>
        
    </ul>
</div>




 
  <!--Footer-->
  <div id="footer">
    <div class="container">
      <div class="footer_sub_1">
        <h2>About Us</h2>
        <p>We are a startup company of an e-commerce, whose one sole purpose
          is to bring the best deals and deliver authentic products to all our
          customers around the world.
        </p>
      </div>
      <div class="footer_sub_2">
        <center>
          <h2>Follow us on</h2>
         
          
          <!-- Social Media icons -->
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-snapchat-ghost"></a>
        </center>
      </div>
      <div class="footer_sub_3">
        <h2>Contact Us</h2>
           <h4>Phone: +880178272722</h4>
          <p><a href="mailto:wajid0194696@gmail.com"><button class="button2">Mail Us</button><a/></p>
          
      </div>
    </div>
  </div>

  <script src="./js/jquery.bxslider.min.js"></script>
  <script src="./js/my.js"></script>
</body>

</html>
