<html>

<head>
  <title>Gadget Galore</title>
  <link href="/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
  <link href="/css/fa/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet" type"text/css">
  <link href="/css/media.css" rel="stylesheet">
</head>

<body>
  <div id="wrapper">
    <div id="header">
      <div id="subheader">
        <div class="container">
          <p>Bringing The Very Best To Your Life</p>
          <a href="/help">Help</a><a href="/index">Home</a>
        </div>
      </div>
       <!--==main header==-->
       <div id="main-header">
         <!--==logo==-->
         <div id="logo">
           <span id="ist">Gadget</span><span id="iist">Galore</span>
         </div>
           <div id="navigation">
      <a href="#" class="menu-togglr"><i class="fa fa-bars"></i> </a>
      <nav id="mainav">
        <a href="/products/category/mobile">Mobile</a>
        <a href="/products/category/pc">Laptop/Computer</a>
        <a href="/products/category/gaming">Gaming</a>
      </nav>
    </div>
          <!--==user-menu==-->
          <div id="" align="right">
            <br>
            <a href="/cart"><button style="font-size:24px" class="button2">Shopping Cart</i></button></a>
            
          </div>
       </div>
    </div>


<!----== help==---->

<br />
    <div align="center"><br /><h1>Guidelines</h1>

        <div id="transparentbox4">
            <h3>
              Guideline for adding items in cart
            </h3>

            <div class="tab"><h5>
              Mobile/laptop/gaming
            </h5></div>
            &#8658;
            <div class="tab"><h5>
              Hover on the item</h5>
            </div>
            &#8658;
            <div class="tab"><h5>
              Add to cart
            </h5>

            </div>

        </div>
        <br />
        <div id="transparentbox4">
            <h3>
              Guideline for Checkingout
            </h3>

            <div class="tab"><h5>
            Click Cart
          </h5></div>
            &#8658;
            <div class="tab"><h5>
              Select quantity needed</h5>
            </div>
            &#8658;
            <div class="tab"><h5>
             Checkout>>
           </h5>

            </div>

        </div>

        <div id="transparentbox4">
            <h3>
              Guideline for Confirmation
            </h3>

            <div class="tab"><h5>
              Enter all the informations
            </h5></div>
            &#8658;
            <div class="tab"><h5>
              Press Submit</h5>
            </div>
            &#8658;
            <div class="tab"><h5>
              YOU ARE DONE! :D
            </h5>

            </div>

        </div>
        <br />
    </div>
<br />
<br />


<!--sticky-->
<div class="sticky-container">
    <ul class="sticky">
        <li>
            <img src="./images/qq.png" width="32" height="32">
            <p padding-right="20px"><img src="./images/sale.jpg" width="150" height="150"></p>
        </li>
        <li>
            <img src="./images/qqp.png" width="32" height="32">
             <p padding-right="20px"><img src="./images/aawww.gif" width="150" height="150"></p>
        </li>
        
    </ul>
</div>

 
 
 




<!------------------------>
  <div id="footer">
    <div class="container">
      <div class="footer_sub_1">
        <h2>About Us</h2>
        <p>We are a startup company of an e-commerce, whose one sole purpose
          is to bring the best deals and deliver authentic products to all our
          customers around the world.
        </p>
      </div>
      <div class="footer_sub_2">
        <center>
          <h2>Follow us on</h2>
            <!-- Social Media icons -->
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-google"></a>
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-snapchat-ghost"></a>
        </center>
      </div>
      <div class="footer_sub_3">
        <h2>Contact Us</h2>
             <h4>Phone: +880178272722</h4>
          <p><a href="mailto:wajid0194696@gmail.com"><button class="button2">Mail Us</button><a/></p>
        
      </div>
    </div>
  </div>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="./js/jquery.bxslider.min.js"></script>
  <script src="./js/my.js"></script>
</body>

</html>
