<html>
    <head>
        <title>All Products</title>
         <link href="/css/Admin_Style.css" rel="stylesheet" type"text/css">
         
    </head>
    <body>
         <br>
        <br>
       <hr>
        <div>
        <button class="home">Home</button>
        <button class="Create">Create</button>
        <button class="Edit">Edit</button>
        <button class="View">View</button>
       
        
        </div>
        <hr>
        <br>
        
        
        <h1>Product List</h1>
        <% console.log(products) %>
          <% for(var i=0; i<products.length; i++) { %>
          <h1> <a href="/products/<%=products[i]._id %>">
            <%= products[i].name %> </a> </h1>
            
            <% } %>
    </body>
</html>