<html>
    <head>
        <title>Create Arctile</title>
       <link href="/css/Admin_Style.css" rel="stylesheet" type"text/css">
         
    </head>
    <body>
          <br>
        <br>
       <hr>
        <div>
        <button class="home"><a href="/products/all">Home</button></a>
       
       
        
        </div>
        <hr>
       <br>
       
       
        <div id="transparentbox">
             <h2 style="font-size:20px; color:white;">Add New product</h2>
        <div>Name:
            <input type="text" id="name"/>
        </div> <br>
        <div>Type:
            <input type="text" id="type"/>
        </div> <br>
        <div>Brand:
            <input type="text" id="brand"/>
        </div> <br>
        <div>Description:
            <textarea id="description"></textarea>
        </div> <br>
        <div>Price:
            <input type="number" id="price"/>
        </div> <br>
        <div>Quantity:
            <input type="number" id="quantity"/>
        </div> <br>
        <div>Image URL:
            <input type="text" id="image"/>
        </div> <br>
        
        <div id="error"></div>
        
        <button id="submit" class="btn-login">Submit</button>
        </div>
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script>
            var product = {title: "", content: ""};
            $("#name").change(function(){
                product.name = $("#name").val();
            });
            
            $("#type").change(function(){
                product.type = $("#type").val();
            });
            
            $("#brand").change(function(){
                product.brand = $("#brand").val();
            });
            
            $("#description").change(function(){
                product.description = $("#description").val();
            });
            
            $("#price").change(function(){
                product.price = $("#price").val();
            });
            
            $("#quantity").change(function(){
                product.quantity = $("#quantity").val();
            });
            
            $("#image").change(function(){
                product.imageURL = $("#image").val();
            });
            
            
            
            $("#submit").click(function(){
                console.log(product);
                $.ajax({
                    method: "POST",
                    url: "/api/products",
                    data: product
                }).done(function(response){
                    console.log(response);
                    window.location.replace("/products/"+response._id);
                }).fail(function(response){
                    $("#error").text(JSON.parse(response.responseText).message);
                    console.log(JSON.parse(response.responseText).message); 
                });
            });
        </script>
    </body>
</html>