<html>
    <head>
        <title>Arctile</title>
     <link href="/css/Admin_Style.css" rel="stylesheet" type"text/css">
         
    </head>
    <body>
         <br>
        <br>
       <hr>
        <div>
        <button class="home">Home</button>
        <button class="Create">Create</button>
        <button class="Edit">Edit</button>
        <button class="View">View</button>
        
        </div>
        <hr>
        <br>
        
        
        <h1>Product</h1>
        <% console.log(request.product) %>
        <h2> Name: <%= request.product.name %></h2>
        <p> <%= request.product.description %> </p>
        <h4>Price: <%= request.product.price %></h4>
        <h4>Quantity: <%= request.product.quantity %></h4>
    </body>
</html>