<!DOCTYPE html5>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Signin</title>
     <link href="/css/Admin_Style.css" rel="stylesheet" type"text/css">
    <!-- General META -->
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
  </head>
  <body>
    
    <div id="transparentbox2">
      <img src="/images/anny.jpg" />
      <h1 style="font-size:25px; color:white;">Welcome</h1>
      <form>
        <div class= "form-input">

          <input id="email" type="email" name= "email" placeholder="Email" />
        </div>
        <div class="form-input">
          <input id="password" tpye="password" name="password" placeholder="Password"/>
        </div>
        <input id="submit" type="submit" name="submit" value= "LOGIN" class="btn-login"/>

      </form>
    </div>
    
    
    
   
    
    <br/>
    <div id="error"></div>
    
    
    
    
    
  </body>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/ejs_production.js"></script>
  <script>
  var user = {};
    $("#email").change(function(event){
      user.email=$("#email").val();
    });
    $("#password").change(function(event){
      user.password=$("#password").val();
    });
    $("#submit").click(function(event){
      $.ajax({
        method: 'POST',
        url: "/auth/signin",
        data: user
      }).done(function(response){
        console.log(response);
        window.location.replace('/');
      }).fail(function(response){
        console.log(response);
        $("#error").text("Something went wrong! Try again.");
      });
    });
  </script>
</html>
